
Materials/.obsidian/workspace
Materials/.obsidian/hotkeys.json
Materials/.obsidian/core-plugins.json
Materials/.obsidian/appearance.json
Materials/.obsidian/app.json
Materials/Changes that need to be made.md
